<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <pre>{{ form.get("email")?.errors | json }}</pre>
      <hr />
      <pre>{{ form.get("email")?.errors?.['forbidden'] | json }}</pre>
      <small *ngIf="form.get('email')?.errors?.['forbidden']"
        >Введен запрещенный email: {{ form.get("email")?.value }}</small
      >
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('email')?.errors?.['required']"
          >Поле email не может быть пустым</small
        >

        <small *ngIf="form.get('email')?.errors?.['email']"
          >Введите корректный email</small
        >
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div class="validation">
        <small
          *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
          >Пароль не может быть пустым</small
        >
        <small
          *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched"
          >Недостаточно символов:<br />
          Общее количество сиволов:
          {{form.get('password')?.errors?.['minlength']?.['requiredLength']}}
          <br />
          Должно быть:
          {{form.get('password')?.errors?.['minlength']?.['actualLength']}}
        </small>
      </div>

      <pre>{{ form.get("password")?.errors | json }}</pre>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option disabled>Выберите город...</option>
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
          <option value="kz">Казахстан</option>
        </select>
        <small></small>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="Город" />
      </div>
      <button type="button" class="btn" (click)="setCapital()">
        Выбрать столицу
      </button>
    </div>

    <!-- <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button type="button" class="btn" (click)="(addSkill)">
        Добавить умение
      </button>
      <div
        class="form-control"
        *ngFor="let skill of form.get('skills')?.controls; let i = index"
      >
        <label>Умение {{ i + 1 }}</label>
        <input type="text" />
      </div>
    </div> -->

    <button type="submit" class="btn" [disabled]="form.invalid">
      Отправить
    </button>
  </form>
</div>
